{{define "content"}}
{{.Content}}
<div class="container"> <div class="row" style="max-width:900px; margin:auto;"> <div class="col-md-12">
 <p class="lead">Наши конкурсы {{.Params.menu.main.name}} за разные годы: </p>
    {{ range .Data.Pages }}
        {{.Render "li"}}
    {{ end }}

{{if isset .Params "latest"}}
 <p class="lead"> Ниже последний тур, присылайте решения до {{.Params.latest.deadline}}!</p>
{{template "latest" .}}{{end}}
</div></div></div>
{{end}}

{{define "latest"}}
{{$type :=  index (split .File.Dir "/") 1}}
{{$tour :=  index (index (index .Site.Data.konkurs $type) .Params.latest.year) .Params.latest.tour}}
{{$year := .Params.latest.year}}
 <h2 style="text-align:center;">{{$tour.tour.title}} </h2>
 {{if isset $tour.tour "image_art"}}<img src="{{$year}}/{{$tour.tour.image_art}}" alt="Иллюстрация к туру" style="float: right; height:400px;"/>{{end}}
    {{range sort $tour.tour.problems "number" "asc"}}
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">Задача {{.number}}. {{if (string .author | chomp) "!=" ""}}<small>({{.author}})</small> {{end}} </h4>
    <p>{{.problem | markdownify}}</p>
    {{with .image_scheme}} <img src="{{$year}}/{{.}}" alt="Чертёж" class="media-object" style="max-height:120px; max-width:200px;" />{{end}}
  </div>
  <div class="media-right">
    {{with .image_art}}<img src="{{$year}}/{{.}}" alt="Иллюстрация" class="media-object" style="max-height:220px" />{{end}}
  </div>
</div>
    {{end}}
{{end}}


