{{define "content"}}
<div class="container">
<div class="row">

{{$type := "math"}}

{{$tours := index (index .Site.Data.konkurs $type) .Title}}
{{range (sort $tours "tour.number" "desc")}}
<h3>{{.tour.title}} </h3>
    {{range sort .tour.problems "number" "asc"}}
        {{template "problem" .}} 
    {{end}}
{{end}}

</div>
</div>
{{end}}


{{define "problem"}}
<div class="media" style="max-width:500px;">
  <div class="media-body">
    <h4 class="media-heading">Задача {{.number}}. {{if (string .author | chomp) "!=" ""}}<small>({{.author}})</small> {{end}} </h4>
    <p>{{.problem | markdownify}}</p>
    {{with .image_scheme}} <img src="{{.}}" alt="picture" class="media-object" style="max-height:100px; max-width:200px;" />{{end}}
  </div>
  <div class="media-right">
    {{with .image_art}}<img src="{{.}}" alt="picture" class="media-object" style="height:200px" />{{end}}
  </div>
</div>
{{end}}