{{define "content"}}
<div class="container">
<div class="row">

{{$tours := index .Site.Data.konkurs .Title}}
{{range (sort $tours "tour.number" "desc")}}
<h3>{{.tour.title}} </h3>
    <div class="list-group">
    {{range sort .tour.problems "number" "asc"}}
        {{template "problem" .}} 
    {{end}}
    </div>
{{end}}

</div>
</div>
{{end}}


{{define "problem"}}
 <li class="list-group-item">
<span class="h6">{{.number}}.</span>
{{if (string .author | chomp) "!=" ""}}<em>({{.author}})</em> {{end}}
{{.problem | markdownify}}
{{range .images}}
<img src="{{.}}" alt="picture" class="img-responsive" />
{{end}}

</li>
{{end}}