{{$konkurstype :=  index (split .File.Dir "/") 1}}
{{if eq $konkurstype "math"}}
{{.Scratch.Set "konkursdata" (index (index .Site.Data.konkurs $konkurstype) .Site.Language.Lang)}}
{{else}}
{{.Scratch.Set "konkursdata" (index .Site.Data.konkurs $konkurstype)}}
{{end}}
{{$tours := index (.Scratch.Get "konkursdata") .Title}}
{{$page := .}}

<div class="container">
<div class="row" style="max-width:900px; margin:auto;">
{{range (sort $tours "tour.number" "desc")}}
{{$problems := (sort .tour.problems "number" "asc")}}
<div style="width:900px;" class="clearfix">
<h1 style="text-align:center;">{{.tour.title}} </h1>
{{with .tour.image_art}}<img src="{{$page.URL}}{{.}}" alt="Иллюстрация к туру" style="float: right; height:400px;"/>{{end}}

{{$url := strings.TrimPrefix "/en" $page.URL }}

{{range $problems}}
<div class="media">
  {{if not (modBool 2 2)}}
  <div class="media-left">
    {{with .image_art}}<img src="{{$url}}{{.}}" alt="Иллюстрация" class="media-object" style="max-height:220px" />{{end}}
  </div>
  {{end}}
  <div class="media-body">
    <h4 class="media-heading">Задача {{.number}}. {{if (string .author | chomp) "!=" ""}}<small>({{.author}})</small> {{end}} </h4>
    <p>{{.problem | markdownify}}</p>
    {{with .image_scheme}} <img src="{{$url}}{{.}}" alt="Чертёж" class="media-object" style="max-height:160px; max-width:400px;" />{{end}}
  </div>
  {{if (modBool 2 2)}}
  <div class="media-right">
    {{with .image_art}}<img src="{{$url}}{{.}}" alt="Иллюстрация" class="media-object" style="max-height:220px" />{{end}}
  </div>
  {{end}}
</div>
{{end}}
{{$pdf_tour := delimit (slice "/konkurs/" $konkurstype "/" $page.Title "/" .tour.number ".pdf") ""}}
{{$pdf_tour_static := path.Join "/static" $pdf_tour}}
{{if (eq $page.Lang "ru")}}{{if (fileExists $pdf_tour_static)}}<p style="margin-top:30px;"><a target="_blank" href="{{$pdf_tour}}">Скачать этот тур в pdf </a></p>{{end}}{{end}}
</div>
{{end}}

</div>
</div>
