{{$konkurstype :=  index (split .File.Dir "/") 1}}
{{$tours := index (index .Site.Data.konkurs $konkurstype) .Title}}
{{$page := .}}

<div class="container">
<div class="row" style="max-width:900px; margin:auto;">

{{range (sort $tours "tour.number" "desc")}}
{{$problems := (sort .tour.problems "number" "asc")}}
<div style="width:900px;" class="clearfix">
<h1 style="text-align:center;">{{.tour.title}} </h1>
{{with .tour.image_art}}<img src="{{$page.URL}}{{.}}" alt="Иллюстрация к туру" style="float: right; height:400px;"/>{{end}}

{{range $problems}}
<div class="media">
  {{if not (modBool 2 2)}}
  <div class="media-left">
    {{with .image_art}}<img src="{{$page.URL}}{{.}}" alt="Иллюстрация" class="media-object" style="max-height:220px" />{{end}}
  </div>
  {{end}}
  <div class="media-body">
    <h4 class="media-heading">Задача {{.number}}. {{if (string .author | chomp) "!=" ""}}<small>({{.author}})</small> {{end}} </h4>
    <p>{{.problem | markdownify}}</p>
    {{with .image_scheme}} <img src="{{$page.URL}}{{.}}" alt="Чертёж" class="media-object" style="max-height:160px; max-width:400px;" />{{end}}
  </div>
  {{if (modBool 2 2)}}
  <div class="media-right">
    {{with .image_art}}<img src="{{$page.URL}}{{.}}" alt="Иллюстрация" class="media-object" style="max-height:220px" />{{end}}
  </div>
  {{end}}
</div>
{{end}}


</div>
{{end}}

</div>
</div>




