{{$dir := string (delimit (slice .Params.year "/" .Params.month) "")}}


<div class="card" style="float:left; margin-right:25px;">
    <a href="{{.Site.BaseURL}}issue/{{.Params.year}}/{{.Params.month}}">
   <img class="img-fluid" src="{{.Site.BaseURL}}issue/{{$dir}}/cover.jpg" alt="Обложка" style="width:18em;">
    </a>
    <div class="card-block">
    <h4 class="card-title">
    Выпуск №{{if eq .Params.month "10"}}10{{else}}{{trim .Params.month "0-"}}{{end}}.
    {{if eq .Params.year "2017"}} 
    Примеры статей.
    {{else}}
    Полная версия. 
    {{end}}
     <!-- ({{.Params.year}})  (and (isset .Params "sample") (eq .Params.sample false))-->
    </h4> 
  </div>
</div>


