{{define "content"}}

{{.Content}}

						<h4 class="text-center"> Все выпуски по годам: 
                        {{range (where (where .Site.Pages "Section" "issue") "Kind" "section") }}
                        {{if in .URL "20"}}<a href="{{.URL}}">{{index (split .URL "/") 2}}</a>,{{end}}
                        {{end}}...
                        </h4>

{{$year := index (split .URL "/") 2}}

<table class="noborder">
{{range (where (where .Site.Pages "Section" "issue") "Kind" "page")}}
{{if in .URL $year}}
{{.Render "slogans-card"}} 
{{end}}
{{end}}
</table>

{{end}}
