{{$dir := string (delimit (slice .Params.year "-" .Params.month) "")}}


<div class="slogan clearfix">

<div class="card" style="float:left; margin-right:25px;">
    <a href="{{.Site.BaseURL}}issue/{{.Params.year}}/{{.Params.month}}">
   <img class="img-fluid" src="{{.Site.BaseURL}}issue/{{$dir}}/cover.jpg" alt="Обложка" style="width:18em;">
    </a>
    <div class="card-block">
    <h4 class="card-title">
    {{if (and (isset .Params "sample") .Params.sample)}}
    Полная версия. 
    {{else}}
    Примеры статей.
    {{end}}
    №{{.Params.month}} ({{.Params.year}})
    </h4> 
  </div>
</div>


<ul style="padding-top: 10px;">
{{if isset .Params "orphan_slogans"}}
{{range .Params.orphan_slogans}}
<li>  {{.|markdownify}} </li>
{{end}}{{end}}
</ul>

</div>