<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  {{ partial "head" . }}

  <body id="all">
    <div class="containr">



        <header>
        	<div class="head">

            	<a href="/"><img src="/img/logo_1.png"/></a>

            </div>


          {{ partial "nav" . }}

        </header>


        {{ partial "breadcrumbs" . }}
	
    {{if eq (.Param "tocmenu") true}}
    <p align="center">
        {{.TableOfContents}}
    </p>
    {{end}}

    {{ block "content" . }}

    {{.Content}}

     {{end}}

    {{ partialCached "footer" . }}

    {{ partialCached "scripts" . }}

    </div>
  </body>
</html>
