{{define "content"}}

{{/* .Content */}}

<div class="container">
<div class="row">


<table class="table table-striped table-responsive table-bordered" style="table-layout:fixed;">
<tr>
<th>Название интернет-магазина (ссылка на сайт)</th>
<th>Что можно купить (ссылка)</th>
<th>Способы доставки</th>
</tr>

{{range $i, $e := .Params.store_categories}}
<tr><td colspan="3"><b>{{add $i 1}}. {{ .title }}</b></td></tr>
{{range where (index (index $.Site.Data.buy .name) "store") "available" "!=" "0"}}
<tr>
<td>{{.name | markdownify}}</td>
<td>{{.sells | markdownify}}</td>
<td>{{.delivery | markdownify}}</td>
</tr>
{{end}}
{{end}}

</table>

</div>
</div>

{{range .Params.retail}}{{end}}


{{end}}