@charset "UTF-8";
/* CSS Document */

html, body{
		position:relative;
		margin:0;
		padding:0;
		background:#fff;
		font-family:Arial, Helvetica, sans-serif;
		}

#all{
		position:relative;
		margin:0;
		margin-bottom: 0;
		padding:0;
/*	background:#f0fff0; */
		background:#fff; /* Мы в редакции пока пришли к белому. Лучше однообразно со страницей конкурса, где белый фон смотрится лучше. На белом фоне текст смотрится резковато, но пока не знаем, на какой цвет лучше поменять фон. */
		font-family:Arial, Helvetica, sans-serif;
		}


a 		{	color:#0172ca; 	}
	
a:hover {  	color:#fc7c0b; 	}
	
i 		{ 	color:#666;}

table.buy 	{	width:95%;			
		}

table.buy, th.buy, td.buy {
    border: 1px solid black;
    border-collapse: collapse;
}
th.buy, td.buy {
    padding: 5px;
}


td		{	width:400px;}
td.img	{	width:33%; 
			text-align:center;			
		}
td.ogl	{	width:65%;	}
td.top	{	vertical-align: top;
			width:20%;  }


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
	
hr		{
			clear:both;
			background:none;
			border:none;
			height:1px;
		}

.containr{
		width:990px;
		height:inherit;
		position:relative;
		top:0;
		left:50%;
		margin:0;
		margin-bottom: 0;
		margin-left:-495px;
		padding:0 40px;
		}
		
.containr li{
		font-size:14px;
		color:#333;
}

.contain{
		width:990px;
		background:#f0fff0;
		height:inherit;
		position:relative;
		top:0;
		left:50%;
		margin:0;
		margin-left:-495px;
		padding:0 40px;
		}



.head	{
		margin:0;
		<!--margin-top:20px;-->
		margin-top: 0;
		padding:0;
		width:910px;
		height:202px;
		text-align:center;
		}
		
.head a { border:none; }
	
.head img {
		border:none;
		display:block;
		}
	
.menu   {
		width:910px;
		position:relative;
		height:70px;
		margin:0;
		padding:0;
		margin-top:20px;
		}

.menu a {
		font-size:22px;
		color:#0172ca;
		padding:4px;
		margin:0 17px;
		line-height:2.8;
		#margin-left:-155px;
		#margin-top:200px;
		#margin-bottom:200px;
		}
	
.menu span 
		{
		width:155px;
		float:left;
		display:block;
		}
	
.menu a:hover {	color:#fc7c0b; }

.menu a.active {text-decoration:none; color:#ffffff; background:#fc7c0b; font-weight:900;}

.menu a:last-child {font-weight:normal;}

.menusmall   {
		width:910px;
		position:relative;
		height:30px;
		margin:0;
		padding:0;
		}

.menusmall a {
		color:#0172ca;
		padding:4px;
		margin:0 13px;
		line-height:2.8;
		}
		
.menusmall a:hover {	color:#fc7c0b; }
.menusmall a.active {text-decoration:none; color:#fff; background:#fc7c0b; font-weight:900;}


.content {
		width:910px;
		height:inherit;
		position:relative;
		padding:0;
		margin:10px 0;
		margin-bottom: 0;
		display:table;
		clear:both;
		}

.content h1 {
		margin:0;
		margin-bottom:30px;
		padding:0;
		font-size:24px;
		}
		
.content h2
		{
		margin:0;
		padding:0;
		font-size:18px;
		}
		
.content a.img_download 
		{
		border:none;
		}
	
.content img 
		{
		display:inline-block;
		border:none;
		margin:0 15px;
		padding:0;
		}
	
.content p 
		{
		position:relative;
		font-size:14px;
		color:#333;
		}

.footer {
		width:910px;
		height:auto;
		margin:0;
		margin-bottom:30px;
		}
		
.footer p
		{
		font-size:12px;
		color:#666;
		text-align:center;
		float:left;
		width:455px;
		height:30px;
		line-height:3;
		}
		
.footer a
		{
		border:none;
		margin:0 30px;
		}
		
.footer img { border:none; 	}	




#TableOfContents ul {
    list-style-type: none;
    margin-left: 150px;
    padding: 0;
    overflow: hidden;
}

#TableOfContents li {
    float: left;
    padding: 5px;
}

#TableOfContents li::after {
    padding-left: 10px;
    content: " – ";
}

#TableOfContents li:last-child::after {
    padding-left: 0;
    content: "";
}

#TableOfContents li a {
    text-align: center;
    text-decoration: none;
}

#TableOfContents li a:hover {
}


.media {
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
    
}

.media-body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    overflow: hidden;
    zoom: 1;
}

.media-heading {
    margin-top: 0;
    matgin-botton: 5px;
}

.media-right {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}

.media-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.media-object {
    display: block;
    vertical-align: middle;
}



.button {
  font-size: 24px;
  text-decoration: none;
  background-color: #f44336;
  color: #ffffff;
  padding: 5px 12px;
  border-radius: 5px;
}

