	<div class="menu"style="white-space: nowrap;">
    	<span>&nbsp;</span>
        {{$page := . -}}    
        {{- range .Site.Menus.main.ByWeight -}}
		      {{- if ne .Identifier "test" -}}        
        <a {{if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .)}}class="active"{{else}}href="{{.URL}}"{{end}}>{{.Name}}</a>
		{{- end}}{{end -}}		
    </div>
        {{ range .Translations }}
        <a href="{{ .Permalink }}">{{if eq .Lang "en"}} English version{{else}} Русская версия{{end}}</a>
        {{ end }}


{{- if eq .Section "konkurs" }}
<div class="menusmall" style="width:909px;">

        {{- range .Site.Menus.main.ByWeight -}}{{- if eq .Identifier "konkurs" -}}        
        {{- range (sort .Children "Weight" "asc") -}}
        <a {{if $page.IsMenuCurrent "main" .}}class="active"{{else}}href="{{.URL}}"{{end}}>{{.Name}}</a>
		{{- end}}{{end -}}{{end -}}
</div>    
{{end}}

