{{define "content"}}
       <section class="bar background-pentagon no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Страница 404 </h1>

                        <p class="lead">{{markdownify "Вы обратились на несуществующую страницу.\n\n Возможно, Вы хотели пройти по ссылке на наш старый сайт http://old.kvantik.com/\n\n В таком случае добавьте 'old.' к Вашей ссылке."| }}
</p>

                    </div>
                </div>
            </div>
        </section>
<script> console.log("{{.URL}}"); </script>
{{end}}
