
{{ define "content"}}

                        <div>
                          {{ .Content }}
                        </div>
        <!-- /#content -->

        {{ partial "search" . }}

            <div class="heading"><h2>Новости</h2></div>

    {{range where .Site.Pages "Section" "news"}}
    {{.Render "short"}}
    {{end}}

            <div class="heading"><h2>Последние выпуски</h2></div>
                        <table class="noborder">
						{{range first 3 (where (where .Site.Pages "Section" "issue") "Kind" "page")}}
						{{.Render "slogans-card"}}
						{{end}}
                        </table>
						<h4 class="text-center"> Все выпуски по годам: 
                        {{range (where (where .Site.Pages "Section" "issue") "Kind" "section") }}
                        {{if in .URL "20"}}<a href="{{.URL}}">{{index (split .URL "/") 2}}</a>,{{end}}
                        {{end}}...
                        </h4>


{{end}}


{{define "boxes"}}
<section class="bar no-mb background-pentagon">
<div class="container">
<div class="row same-height-row">
{{range .Page.Params.boxes}}
           <div class="col-md-3">
            <div class="box-simple box-white same-height" style="background-color:white;">
             <a {{with .url}}href="{{.}}"{{end}}>
               <div class="icon">  <i class="fa fa-{{with .icon}}{{.}}{{else}}desktop{{end}}"></i>   </div>
               {{with .title}}<h3>{{.}}</h3>{{end}}
             </a>
                {{with .text}}<p>{{. | markdownify}}</p>{{end}}
             </div>
           </div>
{{end}}
</div>
</div>
</section>
{{end}}