
{{ define "content"}}

                        <div>
                          {{ .Content }}
                        </div>
        <!-- /#content -->

 {{if eq .Lang "ru"}}
            <div class="heading"><h2>Новости</h2></div>

    {{range where .Site.Pages "Section" "news"}}
    {{.Render "short"}}
    {{end}}
  {{end}}

            <div class="heading"><h2>{{if eq .Lang "ru"}}Последние выпуски{{else}}Latest issues{{end}}</h2></div>
                        <table class="noborder">
                        {{$issues := partialCached "issue/issues_list" .}}
            						{{$latest := (last 3 (where $issues "is_sample" true))}}
						            {{partial "issue/slogans-card" (index $latest 2)}}
						            {{partial "issue/slogans-card" (index $latest 1)}}
						            {{partial "issue/slogans-card" (index $latest 0)}}
                        </table>
						{{partialCached "issue/nav" .}}

{{end}}


