
{{ define "content"}}

                        <div>
                          {{ .Content }}
                        </div>
        <!-- /#content -->

{{ partial "search" . }}

 {{if eq .Lang "ru"}}
<a href="https://podpiska.pochta.ru/press/ПМ068" class="button">Подписаться</a>
            <div class="heading"><h2>Новости</h2></div>
        <table class="noborder"> <tbody>
        {{range (first 3 (where (sort .Site.Data.news.news "number" "desc") "hide" "==" nil) )}}
        {{partial "news/li" .}}
        {{end}}
         </tbody></table>
        {{"[Остальные новости](/news)" | markdownify}}
  {{end}}

            <div class="heading"><h2>{{if eq .Lang "ru"}}Последние выпуски{{else}}Latest issues{{end}}</h2></div>
                        <table class="noborder">
                        {{$issues := partialCached "issue/issues_list" .}}
            						{{$latest := (last 3 (where $issues "is_sample" true))}}
						            {{partial "issue/slogans-card" (merge (index $latest 2) (dict "lang" .Page.Lang))}} 
						            {{partial "issue/slogans-card" (merge (index $latest 1) (dict "lang" .Page.Lang))}}
						            {{partial "issue/slogans-card" (merge (index $latest 0) (dict "lang" .Page.Lang))}}
                        </table>
						{{partialCached "issue/nav" .}}

{{end}}


