<table class="table table-striped table-responsive table-bordered" style="table-layout:fixed;">
<tr>
<th>Магазин</th>
<th>Контактная информация</th>
</tr>

{{range sort ($.Site.Data.buy.retail) "order"}}
<tr><td colspan="2" bgcolor="#ccddff"><b>{{ .title }}</b></td></tr>
{{range where .shops "available" "!=" "0"}}
<tr>
<td>&#9679; {{.name | markdownify}}</td>
<td>{{.address | markdownify}}</td>
</tr>

    {{with .branches}}
    {{range where . "available" "!=" "0"}}
    <tr>
    <td> - {{.name | markdownify}}</td>
    <td>{{.address | markdownify}}</td>
    </tr>
    {{end}}
    {{end}}

{{end}}
{{end}}

</table>
