<table class="buy table table-striped table-responsive table-bordered" style="table-layout:fixed;">
<tr class="buy">
<th class="buy">Название интернет-магазина (ссылка на сайт)</th>
<th class="buy">Что можно купить (ссылка)</th>
<th class="buy">Способы доставки</th>
</tr>

{{range sort ($.Site.Data.buy.online) "order"}}
<tr class="buy"><td colspan="3" class="buy"><b>{{.order}}. {{ .title }}</b></td></tr>
{{range where .store "available" "!=" "0"}}
<tr>
<td class="buy">{{.name | markdownify}}</td>
<td class="buy">{{.sells | markdownify}}</td>
<td class="buy">{{.delivery | markdownify}}</td>
</tr>
{{end}}
{{end}}

</table>
