<table class="buy table table-striped table-responsive table-bordered" style="table-layout:fixed;">
<tr class="buy">
<th class="buy">Магазин</th>
<th class="buy">Контактная информация</th>
</tr>

{{range sort ($.Site.Data.buy.retail) "order"}}
<tr class="buy"><td colspan="2" bgcolor="#ccddff" class="buy"><b>{{ .title }}</b></td></tr>
{{range .shops}}{{if not (and (isset . "available")  (eq (string .available) "0"))}}
<tr class="buy">
<td class="buy">&#9679; {{.name | markdownify}}  </td>  
<td class="buy">{{.address | markdownify}}</td>
</tr>
    {{- with .branches -}}
    {{- range . -}}{{- if not (and (isset . "available")  (eq (string .available) "0")) -}}
    <tr class="buy">
    <td class="buy"> - {{.name | markdownify}}</td>
    <td class="buy">{{.address | markdownify}}</td>
    </tr>
    {{- end -}}{{- end -}}
    {{- end -}}

{{end}}{{end}}
{{end}}

</table>
